{% extends 'base.html' %}
#{% regroup portfolios|dictsort:'author' by request.user as user_portfolios %}

{% block content %}

<h2>Portfolios</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Created</th>
            <th>Portfolio Cover</th>
        </tr>
    </thead>
    <tbody>
        {% for portfolio in portfolios %} <!--user.portfolios-->
            <tr>
                <td><a href="{{ portfolio.slug }}">{{ portfolio.title }}</a></td>
                <td>{{ portfolio.author }}</td>
                <td>{{ portfolio.created }}</td>
                {% for image in images %}
                    <td><img src="{{ image.image.url }}" alt="{{ portfolio.title }}"></td>
                {% endfor %}



            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}